<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmL4Etflrmjtd0pCjOCs3yUpBKzWQ6lS4</string>
	<key>GCM_SENDER_ID</key>
	<string>745682564401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nodelabs.shartflix</string>
	<key>PROJECT_ID</key>
	<string>shartflix-bf1fc</string>
	<key>STORAGE_BUCKET</key>
	<string>shartflix-bf1fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745682564401:ios:75e0c71f79b9e75e182c10</string>
</dict>
</plist>